.wrapper {
  background: rgba(var(--background-light-grey-rgb));
  padding: 10px;
  font-family: var(--font-mono);
  height: 100vh;
  overflow: auto !important;
}

.cardsWrapper {
  margin: 10px 0px 10px 0px;
}