.wrapper {
  background: rgba(var(--background-light-grey-rgb));
  padding: 10px;
  font-family: var(--font-mono);
  height: 100vh;
  overflow: auto !important;
}

.cardsWrapper {
  margin: 10px 0px 10px 0px;
}

.tagAndTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tags{
  color: rgba(var(--border-blue-rgb));
  cursor: pointer;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteIcon{
  color: rgb(156, 12, 12);
  cursor: pointer;
}


.activeCard{
    background: rgba(var(--background-lightblue-rgba));
}


.small{
color: rgba(94, 94, 94, 0.9);
}