.wrapper {
  background: rgba(var(--background-light-grey-rgb));
  padding: 10px;
  font-family: var(--font-mono);
  height: 100vh;
  /* border-right: 2px solid rgba(123, 123, 123, 0.5); */
}

.cardsWrapper {
  margin: 10px 0px 10px 0px;
}