.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.links{
  padding: 9px;
}
.links:hover:not(.active) {
  background-color: rgba(var(--background-blue-rgb));
  border-radius: 12px;
}

.active{
  background: rgba(var(--background-lightblue-rgba));
  border-radius: 12px;
}