.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/background-image.jpg');
  padding: 3rem;
  border-radius: var(--border-radius);
}

.greeting{
  font-family: var(--font-mono);
  text-align: center;
}

.center{
  text-align: center;
}

.logo{
  max-width: 100%;
  height: auto;
}

.button{
  padding: 10px;
  font-size: large;
  font-family: var(--font-mono);
  border-radius: var(--button-border-radius);
  border-color:  rgba(var(--border-blue-rgb));
  background: rgba(var(--background-blue-rgb));
  box-shadow: 0 4px 4px -2px rgba(var(--border-blue-rgb));
}
