.wrapper {
  height: 100vh;
  font-family: var(--font-mono);
}

.inputArea {
  border: none;
  height: 100%;
  width: 100%;
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
  outline: none;
}